body {
    margin: 0px;
    padding: 0px;
}

#main {
    width: 100%;
}

#header {
    color: white;
    background-color: black;
    margin-top: 0;
    /*-moz-box-shadow: 20px 20px 60px firebrick inset;*//*firefox*/
    /*-webkit-box-shadow: 20px 20px 60px firebrick inset;*//*safari或chrome*/
    /*box-shadow:20px 20px 60px firebrick inset;*//*opera或ie9*/

}

#body {
    background-color: white;
    position: relative;
    margin-top: -10px;
}

#checkbox,#loadmore {
    display: none;
}

#footer {
    background-color: silver;
}

ul {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}


li {
    width: inherit;
}

a {
    text-decoration: none;
    font-size: medium;
}

div.zhb8,div.hp,div.dqd {
    padding: 10px 0 10px 0;
    border: 1px none lightgray;
    border-bottom-style: solid;

}

div.zhb8 {
    color: cornflowerblue;
}

div.hp {
    color: brown;
}

div.dqd {
    color: green;
}

h1 {
    margin: auto;
    padding: 8px 0 8px 5px;
    font-size: x-large;
    font-weight: normal;
}

h3 {
    margin: auto;
    font-weight: normal;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}