body {
    margin: 0 auto;
    padding: 0;
}

#main {
    width: 100%;
}

#header {
    color: white;
    background-color: black;
    margin-top: 0;
    /*-moz-box-shadow: 20px 20px 60px firebrick inset;*//*firefox*/
    /*-webkit-box-shadow: 20px 20px 60px firebrick inset;*//*safari或chrome*/
    /*box-shadow:20px 20px 60px firebrick inset;*//*opera或ie9*/

}

#body {
    background-color: white;
    position: relative;
    margin-top: -16px;
}

#checkbox {
    display: none;
}

#loadmore {
    /*display: none;*/
    /*border: 1px solid silver;*/
    margin-top: -16px;
    padding: 15px 0 15px 0;
    font-size: 13px;
}

#footer {
    background-color: silver;
    margin-bottom: -20px;
    font-size: 12px;
}

ul {
    list-style: none;
    padding-left :0;
    padding-right: 0;
}


li {
    width: inherit;
}

a {
    text-decoration: none;
}

div.zhb8,div.hp,div.dqd {
    margin-right: 5px;
    padding: 10px 0 10px 0;
    border-width: 0 0 1px 3px;
    border-style: solid;
    border-color: lightgray;
    font-size: 14px;
}

div.zhb8 {
    border-left-color: cornflowerblue;
}

div.hp {
    border-left-color: brown;
}

div.dqd {
    border-left-color: green;
}

h1 {
    margin: auto;
    padding: 8px 0 8px 5px;
    font-size: x-large;
    font-weight: normal;
    color: white;
}

h3 {
    margin: auto;
    padding-left: 8px;
    font-weight: normal;
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li>a:link{
    color: black;
}
li>a:visited {
    color: darkgray;
}
li>a:active {
    color: darkgray;
}